###> vendor ###
/vendor/
composer.lock
composer.phar
###< vendor ###

###> IDEA ###
/.idea
###< IDEA ###
###> phpunit ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< phpunit ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> ganchudo ###
ganchudo.yml
###< ganchudo ###
